@page "/brett-4"
<PageTitle>Brett 4 - Uncy Chess</PageTitle>

<h1>Brett 4</h1>

<BoardFromFen FenString="@StandardFen" />

@code {
    private const string StandardFen = "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1";
}
