@page "/brett-5"
<PageTitle>Brett 5 - Uncy Chess</PageTitle>

<h1>Brett 5</h1>

<BoardFromFen FenString="@StandardFen" />

@code {
    private const string StandardFen = "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1";
}
