@page "/brett-1"
<PageTitle>Brett 1 - Uncy Chess</PageTitle>

<h1>Brett 1</h1>

<BoardFromFen FenString="@StandardFen" />

@code {
    private const string StandardFen = "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1";
}
